html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 2400px;
  height: 1800px;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}

.sheeps {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 2400px;
  height: 1800px;
  overflow: hidden;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}

.hide {
  display: none;
}
